<!-- views/dogs-new.handlebars -->

<form method="POST" action="/dogs">
  <fieldset>
    <legend>New Event</legend>
    <!-- TITLE -->
    <p>
      <label for="title">Name</label><br>
      <input type="text" name="title" />
    </p>
    <p>
      <label for="desc">About</label><br>
      <input type="text" name="desc" />
    </p>
  </fieldset>

  <!-- BUTTON -->
  <p>
    <button type="submit">Showoff Doggo!</button>
  </p>

</form>