<div class="row mt-4">
  <div class="col-lg-6 offset-lg-3">
    <img class="img-fluid w-100 rounded mb-3" src="{{dog.imgUrl}}" alt="Card image cap">
    <h3>{{dog.title}}</h3>
    <div class="lead">{{dog.desc}}</div>
  </div>
</div>