<!-- dogs-index -->

<div class="row mt-4">
    <div class="col-lg-6 offset-lg-3">
        <h1>Floofs</h1>
        {{#each dogs}}
            <div class="card mt-3">
            <img class="card-img-top" src="{{this.imgUrl}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{this.title}}</h5>
                <p class="card-text">{{this.desc}}</p>
                <div class="text-right">
                <a href="#" class="btn btn-info">Favorite</a>
                <a href="/dogs/{{this.id}}" class="btn btn-primary">View</a>
                </div>
            </div>
            </div>
        {{/each}}
    </div>
</div>