<!-- views/dogs-new.handlebars -->

<form action="/dogs" method="post">
  {{> dogs-form }}
  <div class="text-right">
    <button type="submit" class="btn btn-primary" name="button">Save</button>
  </div>
</form>